/******** CSS reset goes here ********/
/* line 5, ../../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 26, ../../sass/reset.scss */
html {
  line-height: 1;
}

/* line 30, ../../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 39, ../../sass/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 45, ../../sass/reset.scss */
q, blockquote {
  quotes: none;
}

/* line 48, ../../sass/reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 53, ../../sass/reset.scss */
a img {
  border: none;
}

/* line 57, ../../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../sass/reset.scss */
* {
  box-sizing: border-box;
}

/* line 64, ../../sass/reset.scss */
a {
  text-decoration: none !important;
}

/********* CSS reset ends *********/
/* line 69, ../../sass/reset.scss */
html, body {
  width: 100%;
}

/* line 4, ../../sass/header.scss */
.head-wrapper {
  width: 100%;
  min-width: 450px;
  height: 49px;
  border-bottom: 1px solid #e8e8e8;
  padding: 7px 30px 8px 30px;
  background-color: white;
  position: relative;
}
/* line 17, ../../sass/header.scss */
.head-wrapper:after {
  display: block;
  height: 0px;
  content: '';
  clear: both;
}
/* line 23, ../../sass/header.scss */
.head-wrapper .menu {
  width: 200px;
  position: absolute;
  left: 30px;
  top: 7px;
}
/* line 35, ../../sass/header.scss */
.head-wrapper .menu span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
}
/* line 40, ../../sass/header.scss */
.head-wrapper .menu .list-btn {
  font-size: 16px;
  color: #c7bebe;
  padding: 0 10px;
}
/* line 45, ../../sass/header.scss */
.head-wrapper .menu .list-btn:hover {
  color: #333;
}
/* line 49, ../../sass/header.scss */
.head-wrapper .menu .log {
  font-size: 33px;
  color: #E62117;
}
/* line 56, ../../sass/header.scss */
.head-wrapper .search {
  padding-left: 200px;
}
/* line 61, ../../sass/header.scss */
.head-wrapper .search input {
  vertical-align: top;
  width: 582px;
  height: 33px;
  padding: 2px 6px;
  outline: none;
  border-style: none;
  border: 1px solid #c7bebe;
  border-right: none;
}
/* line 71, ../../sass/header.scss */
.head-wrapper .search button {
  width: 66px;
  height: 33px;
  background-color: #f0f0f0;
  border: 1px solid #c7bebe;
  cursor: pointer;
  outline: none;
}
/* line 80, ../../sass/header.scss */
.head-wrapper .sign {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  top: 7px;
  right: 30px;
  height: 33px;
}
/* line 88, ../../sass/header.scss */
.head-wrapper .sign:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: '';
}
/* line 93, ../../sass/header.scss */
.head-wrapper .sign button {
  width: 46px;
  height: 33px;
  background-color: #f0f0f0;
  border: 1px solid #c7bebe;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
}
/* line 102, ../../sass/header.scss */
.head-wrapper .sign .signin {
  background-color: #167ac6;
  margin-left: 10px;
  color: white;
}

@media (max-width: 1100px) {
  /* line 113, ../../sass/header.scss */
  .head-wrapper .search input {
    width: 300px;
  }
}
@media (max-width: 767px) {
  /* line 122, ../../sass/header.scss */
  .head-wrapper .menu {
    width: 78px;
  }
  /* line 126, ../../sass/header.scss */
  .head-wrapper .sign .upload {
    display: none;
  }
  /* line 130, ../../sass/header.scss */
  .head-wrapper .search {
    padding-left: 78px;
  }
  /* line 132, ../../sass/header.scss */
  .head-wrapper .search input {
    width: 213px;
  }
  /* line 135, ../../sass/header.scss */
  .head-wrapper .search button {
    width: 36px;
  }
}
