doctype html
html
    head
        title NodeJS-Multer文件上传
        meta(charset="utf-8")
        style.
            div.upload{
                font-size:0px;
                width:170px;
                text-align:center;
            }
            svg{
                vertical-align:middle;
                display:none;
            }
            div.upload input{
                width:170px;
                height:50px;
                border-radius:13px;
                background-color:#00A5E0;
                border-style:none;
                outline:none;
                cursor:pointer;
                font-size:16px;
                color:white;
                font-weight:600;
            }
            input[value="上传成功"]{
                display:none;
            }
            input[value="上传失败"]{
                display: none;
            }
        script(type='text/javascript').
            function upload(){
                if (!window.FormData){
                    alert('您的浏览器不支持第二代XmlHttpRequest');
                    return;
                }
                // HTML5 新增对象
                var formData = new FormData(document.getElementById('uploadForm'));
                formData.append('screenshots',true);
                //添加其他表单域
                var upBtn = document.querySelector('input[value="上传"]'),
                    sucessBtn = document.querySelector('input[value="上传成功"]'),
                    failBtn = document.querySelector('input[value="上传失败"]'),
                    svg = document.querySelector('svg'),
                    circle = document.querySelectorAll('circle')[1],
                    meter = Math.PI*2*22,
                    xhr = new XMLHttpRequest();
                xhr.open('POST', '/fileUpload'); //请求url
                xhr.upload.onprogress = function(event) {
                    if (event.lengthComputable) {
                        upBtn.setAttribute('style','display:none');
                        svg.setAttribute('style','display:inline-block');
                        var completedPercent = event.loaded / event.total;
                        circle.setAttribute('stroke-dasharray',meter*completedPercent + " " + meter*(1-completedPercent))
                    }
                }
                //上传完成回调函数
                xhr.onload = function(event) {
                    if (this.status == 200||this.status == 304) {
                        svg.setAttribute('style','display:none');
                        sucessBtn.setAttribute('style','display:inline-block');
                    } else {
                        upBtn.setAttribute('style','display:none');
                        svg.setAttribute('style','display:none');
                        failBtn.setAttribute('style','display:inline-block');
                    }
                };
                xhr.send(formData);
            }

    body
        h2 单个文件上传
        form(id="uploadForm",action="/fileUpload",method="post",enctype="multipart/form-data")
            input(type="text",name="name")
            br
            span 封面: 
            input(type="file",name="cover")
            br
            span 文件: 
            input(type="file",name="source")
            br
        div.upload
            input(type="button",value="上传",onclick="upload()")
            svg(width="50",height="50",viewbox="0 0 50 50")
                circle(cx="25",cy="25",r="22",stroke-width="5",stroke="#D1D3D7",fill="none")
                circle(cx="25",cy="25",r="22",stroke-width="5",stroke="#00A5E0",fill="none",transform="matrix(0,-1,1,0,0,50)",stroke-dasharray="0 1069")
            input(type="button",value="上传成功")
            input(type="button",value="上传失败")
