div.head-wrapper
	div.search
		input(type="text",placeholder="搜索")
		button.search-btn
			span(class="iconfont icon-search")
	div.menu
		span.list-btn(class="iconfont icon-menu")
		span.log(class="iconfont icon-play")
	div.sign
		button.upload 上传
		button.signin 登陆
