doctype html
html
    head
        title NodeJS-Multer文件上传
        meta(charset="utf-8")
        script(type='text/javascript').
            function upload(){
                if (!window.FormData){
                    alert('您的浏览器不支持第二代XmlHttpRequest');
                    return;
                }
                // HTML5 新增对象
                var formData = new FormData(document.getElementById('uploadForm'));
                //添加其他表单域
                formData.append('user', 'haolin');
                formData.append('pass', '111111');
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/singleUpload'); //请求url
                xhr.upload.onprogress = function(event) {
                    if (event.lengthComputable) {
                        var completedPercent = event.loaded / event.total;
                        document.getElementById('showBox').value = completedPercent;
                    }
                }
                //上传完成回调函数
                xhr.onload = function(event) {
                    if (this.status == 200||this.status == 304) {
                        alert(this.responseText);
                    } else {
                        alert('出错了');
                    }
                };
                xhr.send(formData);
            }

    body
        h2 单个文件上传
        form(id="uploadForm",action="/singleUpload",method="post",enctype="multipart/form-data")
            input(type="file",name="avatar")
            br
            input(type="text",name="aaa")
            br
            input(type="text",name="bbb")
            br
            input(type="submit",name="submit")
        input(type="button",value="测试XMLHttpRequest-2",onclick="upload()")
        input(type="text",id="showBox")
        h2 多文件上传
        form(action="/multiUpload",method="post",enctype="multipart/form-data")
            input(type="file",name="photos")
            br
            input(type="file",name="photos")
            br
            input(type="file",name="photos")
            br
            input(type="file",name="photos")
            br
            input(type="text",name="aaa")
            br
            input(type="text",name="bbb")
            br
            input(type="submit",name="submit")
