doctype
html
    head
        block title
        meta(charset="UTF-8")
        -var $styleLink = '/stylesheet/css/'
        //- -var $jsLink = '../public/js/'
        //- -var $imgLink = '../public/img/'
        //- -var $styleLink = '/stylesheet/'
        //- -var $jsLink = '/js/'
        //- -var $imgLink = '/img/'
        //- link(rel="stylesheet",href="#{$styleLink}reset.css")
        //- link(rel="stylesheet", href="#{$styleLink}common.css")
        //- link(rel="stylesheet",href="#{$styleLink}header.css")
        link(rel="stylesheet",href="#{$styleLink}icon/iconfont.css")
        block css
    body
        include ./include/header.jade
        block content
        include ./include/footer.jade
    
        script(src='/javascript/lib/jquery/jquery.min.js')            
        block js
        
